<html>
    <head>
        <title>Shoe: Brands</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    </head>
    <body>
        <div class="container">
            <h1>{{ brand.getBrandName }}</h1>

            {% if brand_stores is not empty %}
                <h3>List of stores with {{ brand.getBrandName }}.</h3>
                <ul>
                    {% for store in brand_stores %}
                        <li><strong><a href="/store/{{ store.getId }}">{{ store.getStoreName }}</a></strong></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No stores to list!</h3>
            {% endif %}

            <h3>Add {{ brand.getBrandName }} to a store:</h3>
            <form action="/brand/{{ brand.getId }}" method="post">
                <select class="form-control" id="store_id" name="store_id">
                        {% for store in all_stores %}
                            <option value="{{ store.getId }}">{{ store.getStoreName }}</option>
                        {% endfor %}
                    </select>
                    <br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <br>

            <form action="/">
                <button type="submit" class="btn btn-primary">Home</button>
            </form>
        </div>
    </body>
</html>
